*{
	margin:0;
	padding: 0;
}
body{
	width:100%;
	position:relative;
	text-align:center;
	background:#565758 top left;
}
#cw-header{
	width:100%;
	height:70px;
	background: url(../images/cw_header_bg.jpg) top left;
	position:relative;
	text-align:center;
}
#cw-top-bar{
	width:1000px;
	height:70px;
	margin:0 auto;
	position:relative;
}
#cw-logo{
	position:relative;
	float:left;
	width:300px;
	margin-bottom:-8px;
	height:78px;
	background:url(../images/cw_logo_bg.png) top left;
	z-index: 1000;
}
#cw-logo a{
	height: 78px;
	
}
#cw-navigation{
	position:relative;
	float:left;
	left:50px;
	top:20px;
	z-index: 1000;
}
#cw-navigation li{
	display: inline;
	list-style: none;
}
#cw-navigation li a{
	text-decoration: none;
	color: #FAFAFA;
	font-size:20px;
	font-weight: bold;
	margin-right: 25px;
	padding:3px;
	position:relative;
	float:left;
	display:block;
	border-radius: 4px 4px 4px 4px;
}
#cw-navigation li a:hover{
	background: #FFFFFF;
	color: #000000;
}
#cw-login{
	position:absolute;
	top:5px;
	right:10px;
}
#cw-login li{
	display:inline;
	list-style: none;
}
#cw-login li a{
	display: block;
	position:relative;
	float:left;
	font-size:12px;
	margin-right:10px;
	text-decoration:none;
	font-weight: bold;
	color: #ffffff;
}
#cw-login #nav-register{
	
}
#cw-message{
	margin-top:20px;
	margin-right:40px;
	border-radius:10px;
	width:270px;
	height:250px;
	border:#000000 1px solid;
	position:relative;
	float:right;
}
#cw-message ul{
	list-style: none;
}
#cw-message ul li{
	color:#333333;
	height:25px;
	overflow: hidden;
	text-overflow:ellipsis; 
	white-space:pre;
	width:250px;
	margin-left:5px;
	margin-top:3px;
	margin-bottom:5px;
}
#cw-message ul li a{
	text-align: left;
	font-size:17px;
	text-decoration: none;
}
#cw-post{
	width: 550px;
	height:300px;
	border:#000000 1px solid;
	position:relative;
	float:left;
	margin-left:65px;
	margin-top:1px;
}
.label-title{
	background:url(../images/cw_label_bg.png) no-repeat top left;
	color: #FAFAFA;
	padding-left:50px;
	margin: 5px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:left;
	font-size: 22px;
	font-weight: bold;
}
#cw-content{
	width:980px;
	height:600px;
	margin:0 auto;
	position: relative;
	background:url(../images/cw_content_bg.jpg) repeat-y top left;
}
#cw-content-other{
	width:980px;
	height:600px;
	margin:0 auto;
	position: relative;
	background:url(../images/cw_content_other_bg.jpg) repeat-y top left;
}
#cw-footer{
	width: 100%;
	height:100px;
	position: relative;
	background: url(../images/cw_page_bg.jpg) top left;
}
#cw-copyright{
	width:980px;
	height:100px;
	margin:0 auto;
	position: relative;
	background: url(../images/cw_footer_bg.jpg) top left;
}
#cw-copyright-other{
	width:980px;
	height:100px;
	margin:0 auto;
	position: relative;
	background: url(../images/cw_footer_other_bg.jpg) top left;
}
