*{
	margin:0;
	padding: 0;
}
body{
	width:100%;
	position:relative;
	text-align:center;
	background:#565758 top left;
}
#cw-header{
	width:100%;
	height:70px;
	background: url(../images/cw_header_bg.jpg) top left;
	position:relative;
	text-align:center;
}
#cw-top-bar{
	width:1000px;
	height:70px;
	margin:0 auto;
	position:relative;
}
#cw-logo{
	position:relative;
	float:left;
	width:300px;
	margin-bottom:-8px;
	height:78px;
	background:url(../images/cw_logo_bg.png) top left;
	z-index: 1000;
}
#cw-logo img{
	margin-top:10px;
	text-decoration: none;
	border: none;
}
#cw-logo a{
	text-decoration: none;
	border: none;
}
#cw-navigation{
	position:relative;
	float:left;
	left:50px;
	top:20px;
	z-index: 1000;
}
#cw-navigation li{
	display: inline;
	list-style: none;
}
#cw-navigation li a{
	text-decoration: none;
	color: #C0F048;
	text-shadow:0px 0px 8px #f0f0f0;
	font-size:24px;
	font-weight: bolder;
	margin-right: 25px;
	padding:3px;
	position:relative;
	float:left;
	display:block;
	border-radius: 4px 4px 4px 4px;
}
#cw-navigation li a:hover{
	color: #FFFFFF;
}
#cw-login{
	position:absolute;
	top:5px;
	right:10px;
}
#cw-login li{
	display:inline;
	list-style: none;
}
#cw-login li a{
	display: block;
	position:relative;
	float:left;
	font-size:12px;
	margin-right:10px;
	text-decoration:none;
	font-weight: bold;
	color: #ffffff;
}
#cw-login #nav-register{
	
}
#cw-message{
	margin-top:20px;
	margin-right:40px;
	border-radius:10px;
	width:270px;
	height:270px;
	border:#C0F048 3px solid;
	box-shadow: 0px 0px 8px #f0f0f0;
	position:relative;
	float:right;
}
#cw-message ul{
	list-style: none;
}
#cw-message ul li{
	color:#333333;
	height:25px;
	overflow: hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
	font-family:"幼圆";
	font-weight: bold;
	width:250px;
	padding-left:10px;
	margin-top:3px;
	margin-bottom:5px;
}
#cw-message ul li a{
	text-align: left;
	font-size:17px;
	color:#FAFAFA;
	text-decoration: none;
}
#cw-message ul li a:hover,#cw-message ul li a:active{
	color:#c0f048;
}
.cw-more{
	width:135px;
	height:35px;
	display:block;
	text-align:center;
	position:relative;
	float:right;
	padding-top:7px;
	padding-right:3px;
	font-size:18px;
	font-family:"幼圆";
	font-weight:bold;
	color:#FAFAFA;
	text-decoration: none;
	background: url(../images/cw_more_bg.jpg)  no-repeat top left;
}
.cw-more:hover{
	color:#c0f048;
}
.cw-post-box{
	
}
.cw-post-item{
	width:95%;
	height:60px;
	padding:0 10px;
	margin:20px auto;
	border:#C0F048 3px dotted ;
	text-align:left;
	box-shadow: 0px 0px 4px #f0f0f0;
	background-color: #474747;
}
.cw-post-item img{
	display:inline;
}

.cw-post-item a{
	width:95%;
	height:30px;
	display:block;
	padding-left:10px;
	font-size:20px;
	font-weight:bolder;
	color:#FAFAFA;
	overflow: hidden;
	text-overflow:ellipsis; 
	white-space:pre;
	text-decoration: none;
}
.cw-post-item a:hover{
	color:#c0f048;
}
.cw-post-item label{
	margin-left:20px;
	font-size:16px;
	font-weight: bolder;
	color:#fff;
}
#cw-upload-box{
	width:600px;
	height:700px;
	margin:0 auto;
}
#cw-post{
	width: 540px;
	top:10px;
	position:relative;
	float:left;
	margin-left:65px;
	margin-top:1px;
}
.label-title{
	background:url(../images/cw_label_bg.png) no-repeat top left;
	color: #FAFAFA;
	padding-left:50px;
	margin: 5px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:left;
	font-size: 22px;
	font-weight: bold;
}
#cw-content{
	width:980px;
	height:600px;
	margin:0 auto;
	position: relative;
	background:url(../images/cw_content_bg.jpg) repeat-y top left;
}
#cw-content-other{
	width:980px;
	min-height:500px;
	margin:0 auto;
	position: relative;
	background:url(../images/cw_content_other_bg.jpg) repeat-y top left;
}
#cw-footer{
	width: 100%;
	height:100px;
	position: relative;
	float:left;
	background: url(../images/cw_page_bg.jpg) top left;
}
#cw-friend-link{
	margin-top:20px;
	margin-right:40px;
	border-radius:10px;
	width:270px;
	height:230px;
	border:#C0F048 3px solid;
	box-shadow: 0px 0px 8px #f0f0f0;
	position:relative;
	float:right;
}
#cw-copyright{
	width:980px;
	height:100px;
	margin:0 auto;
	position: relative;
	background: url(../images/cw_footer_bg.jpg) top left;
}
#cw-friend-link a{
	text-decoration: none;
	color:#FAFAFA;
}
#cw-friend-link a:hover{
	color:#c0f048;
}
#cw-friend-link td{
	padding-left:15px;
	padding-top:10px;
}
#cw-copyright-other{
	width:980px;
	height:100px;
	margin:0 auto;
	position: relative;
	background: url(../images/cw_footer_other_bg.jpg) top left;
}
#cw-copyright-other p{
	color:#FAFAFA;
	font-size:18px;
	font-weight:bolder;
	padding-top:50px;
}
#cw-copyright-other p a{
	text-decoration: none;
	color:#C0F048;
}
#cw-copyright p a{
	text-decoration: none;
	color: #C0F048;
}
#cw-copyright p{
	color:#FAFAFA;
	font-size:18px;
	font-weight:bolder;
	padding-top:50px;
}
